In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import re

In [2]:
iris = load_iris()

In [3]:
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [4]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)

replace the columns

In [5]:
columns=[re.sub("[() ]", "", col) for col in df.columns]

In [6]:
df.columns=columns

In [7]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

add the target

In [8]:
df['species']=iris.target

In [9]:
df.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm  species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

## Data normalize

In [10]:
from sklearn import preprocessing
import numpy as np

- Min-max

In [11]:
preprocessing.minmax_scale(df['sepallengthcm'])[:10]

array([0.22222222, 0.16666667, 0.11111111, 0.08333333, 0.19444444,
       0.30555556, 0.08333333, 0.19444444, 0.02777778, 0.16666667])

In [12]:
mm = preprocessing.MinMaxScaler()

In [13]:
pd.DataFrame(mm.fit_transform(df[columns]), columns=columns).head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm
0       0.222222      0.625000       0.067797      0.041667
1       0.166667      0.416667       0.067797      0.041667
2       0.111111      0.500000       0.050847      0.041667
3       0.083333      0.458333       0.084746      0.041667
4       0.194444      0.666667       0.067797      0.041667

- z-score

In [14]:
scaler = preprocessing.StandardScaler()

In [15]:
pd.DataFrame(scaler.fit_transform(df[columns]), columns=columns).head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm
0      -0.900681      1.019004      -1.340227     -1.315444
1      -1.143017     -0.131979      -1.340227     -1.315444
2      -1.385353      0.328414      -1.397064     -1.315444
3      -1.506521      0.098217      -1.283389     -1.315444
4      -1.021849      1.249201      -1.340227     -1.315444

- normalize

In [16]:
nm = preprocessing.Normalizer()

In [17]:
pd.DataFrame(nm.fit_transform(df[columns]), columns=columns).head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm
0       0.803773      0.551609       0.220644      0.031521
1       0.828133      0.507020       0.236609      0.033801
2       0.805333      0.548312       0.222752      0.034269
3       0.800030      0.539151       0.260879      0.034784
4       0.790965      0.569495       0.221470      0.031639